<ul class="list-group">
    <li class="list-group-item list-group-item-dark">Filter</li>
    <li class="list-group-item">
        <a class="btn btn-block btn-outline-dark btn-sm" (click)="load('/buy/all')">All</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-block btn-outline-dark btn-sm" (click)="load('/buy/milk')">Milk Chocolate</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-block btn-outline-dark btn-sm" (click)="load('/buy/dark')">Dark Chocolate</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-block btn-outline-dark btn-sm" (click)="load('/buy/nut')">Nuts</a>
    </li>
</ul>
